.transaction__history {
  margin-top: 30px;
  width: 700px;
  text-align: center;
  border-collapse: collapse;

  box-shadow: 0px 0px 5px 0px rgba(104, 106, 109, 0.2);
}

.title {
  color: #fff;
  text-transform: uppercase;
  background-color: #00bcd5;
}

.titleItem {
  height: 50px;
}

.item {
  color: #27343a;
  background-color: #fff;
}

.item:nth-child(even) {
  background-color: #ecf1f4;
}

.itemType {
  text-transform: capitalize;
}

td {
  padding: 10px 0;
}
